@import "/src/shared/styles/variables.scss";

.button {
  border: none;
  border-radius: $borderRadiusXs;
  cursor: pointer;
}

.button__sm {
  font-size: $fontSizeXs;
  padding: $spacingSm $spacingLg;
}

.button__md {
  font-size: $fontSizeSm;
  padding: $spacingSm $spacingXl;
}

.button__lg {
  font-size: $fontSizeMd;
  padding: $spacingMd $spacing3Xl;
}

.button__primary {
  background-color: $colorPrimary;
  color: $colorLight;
}

.button__secondary {
  background-color: $colorSecondary;
  color: $colorLight;
}

.button__yellow {
  background-color: $colorYellow;
  color: $colorDark;

  &:hover {
    background-color: $colorYellowHover;
  }
}
