$colorBlack: #000000;
$colorDark: #333333;
$colorPrimary: #007aff;
$colorSecondary: #5b969c;
$colorNeutral: #dbb8aa;
$colorYellow: #ffd331;
$colorLight: #fdf9f6;

$colorGray: #555555;
$colorLightGray: #757575;

$colorYellowHover: #efcd52;
