@import "/src/shared/styles/variables.scss";

.serviceWrapper {
  padding: $spacing2Xl;
  border-radius: $borderRadiusMd;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $colorLight;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  gap: $spacingLg;

  @media screen and (min-width: 768px) {
    padding: $spacing4Xl;
    flex-direction: row;
    gap: $spacing3Xl;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: $borderRadiusSm;

  @media screen and (min-width: 768px) {
    width: 400px;
    height: auto;
    border-radius: $borderRadiusMd;
  }
}

.serviceBody {
  margin-top: $spacingXl;
  margin-bottom: $spacingXl;

  @media screen and (min-width: 768px) {
    text-align: justify;
  }
}

.serviceIndexWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $colorYellow;

  h2 {
    line-height: 24px;
  }
}

.leftAlign {
  left: 0;
  transform: translate(-50%, -50%);
}

.rightAlign {
  right: 0;
  transform: translate(50%, -50%);
}

.buttonWrapper {
  align-self: end;
}
