@import "/src/shared/styles/variables.scss";

.aboutMeWrapper {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-bottom: $spacing5Xl;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: $spacing5Xl;
    width: 80%;
    margin-inline: auto;
    margin-block: $spacing5Xl;
  }
}

.ownerPicture {
  flex: 2;
  object-fit: cover;
  width: 100%;
  max-height: 50vh;

  @media screen and (min-width: 768px) {
    width: 50%;
    flex: 1;
    border-radius: $borderRadiusMd;
    max-height: unset;
  }
}

.line {
  display: block;
  margin-top: 4px;
  color: azure;
}

.aboutMeTextWrapper {
  flex: 3;
  margin-top: -$spacing3Xl;
  padding-inline: 10%;
  padding-top: $spacing3Xl;
  background-color: $colorLight;
  border-radius: 30px;

  @media screen and (min-width: 768px) {
    width: 50%;
    padding-inline: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    margin-top: 0;
  }
}

.aboutMeText {
  margin-top: $spacing2Xl;
  text-align: justify;

  @media screen and (min-width: 768px) {
    margin-top: $spacing2Xl;
  }
}

.aboutMeButton {
  margin-top: $spacing2Xl;
}
