@import "/src/shared/styles/variables.scss";

.title {
  margin-bottom: $spacingSm;

  @media screen and (min-width: 768px) {
    margin-bottom: $spacingXl;
  }
}

.servicesWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  gap: $spacingSm;
  align-items: flex-start;

  @media screen and (min-width: 768px) {
    justify-content: unset;
    gap: 0 20px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
}

.serviceLink {
  flex: 1;
  margin-bottom: $spacingXl;
}

.serviceWrapper {
  display: flex;
  gap: $spacing2Xl;
  cursor: pointer;
  border-radius: $spacingSm;
  margin-top: $spacingLg;
  align-items: center;

  @media screen and (min-width: 768px) {
    padding: $spacingLg $spacingXl;
    margin-top: none;
  }
}

.serviceImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid $colorNeutral;
  object-fit: cover;

  @media screen and (min-width: 768px) {
    width: 130px;
    height: 130px;
    object-position: 70%;
  }
}

.serviceBody {
  display: flex;
  flex-direction: column;
  gap: $spacingXs;
  max-width: 250px;
  width: max-content;

  @media screen and (min-width: 768px) {
    max-width: 350px;
  }
}

.serviceBodyAction {
  margin-top: $spacingMd;
  width: max-content;
}
