@import "/src/shared/styles/variables.scss";

.aboutMeWrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: relative;

  @media screen and (min-width: 768px) {
    height: 70vh;
    width: 80%;
    flex-direction: row-reverse;
    margin-inline: auto;
    margin-block: 150px;
  }
}

.aboutMeContent {
  background-color: $colorNeutral;
  padding: $fontSize4Xl;
  padding-top: 240px;

  @media screen and (min-width: 768px) {
    background-color: transparent;
    border-radius: 0 $borderRadiusSm $borderRadiusSm 0;
    padding: $spacing3Xl $fontSize4Xl;
  }
}

.aboutMeImage {
  width: 220px;
  height: 300px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -30%);
  border-radius: 30px;

  @media screen and (min-width: 768px) {
    width: 400px;
    height: 600px;
    object-fit: cover;
    position: relative;
    top: initial;
    left: initial;
    transform: initial;
    border-radius: 250px;
  }
}
.preTitle {
  font-family: American Typewriter;
  text-align: center;
  margin-bottom: $spacingXs;
  padding-left: 2px;
}

.title {
  margin-bottom: $spacing2Xl;
  font-family: American Typewriter;
  text-align: center;
  background-color: $colorSecondary;
  color: #f6c47e;
  padding-block: 0;
}

.firstText {
  margin-bottom: $spacingMd;
  text-align: justify;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: $spacing2Xl;
  gap: $spacingMd;

  button {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
    flex-direction: row;
  }
}

.aboutMeButton {
  background-color: #874d4d;
  color: $colorLight;
}
