// Spacing Sizes

$spacingXs: 4px;
$spacingSm: 8px;
$spacingMd: 12px;
$spacingLg: 16px;
$spacingXl: 20px;
$spacing2Xl: 24px;
$spacing3Xl: 32px;


// Font Sizes

$fontSize2Xs: 12px;
$fontSizeXs: 14px;
$fontSizeSm: 16px;
$fontSizeMd: 18px;
$fontSizeLg: 20px;
$fontSizeXl: 22px;
$fontSize2Xl: 24px;
$fontSize3Xl: 28px;
$fontSize2Xl: 30px;
$fontSize3Xl: 32px;
$fontSize4Xl: 48px;
$fontSize5Xl: 64px;


// Border Radiuses

$borderRadiusNone: 0px;
$borderRadiusXs: 4px;
$borderRadiusSm: 6px;
$borderRadiusMd: 8px;
$borderRadiusLg: 12px;
$borderRadiusXl: 16px;
$borderRadius2Xl: 20px;
$borderRadiusCircle: 50%;